/compile
/constraint_backup
/device_map
/generate_bitstream
/log*
/place_route
/report_timing
/synthesize
*.wf
*.fdc
*.log
*.tcl
!sim.tcl
modelsim*
transcript
*.wlf
wlft*
work
*.pds
*.v~
*.settings
*.idf
*.vhdl
*.dat
*.zip
*generate*
*bak
!*.v
